footer {
  background-color: var(--darker-color);
  height: 262px;
  color: var(--background-color);
  display: flex;
  align-items: center;
  padding: 30px;
}
footer .container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-social-media{
  margin: 30px 0 0 0;
}
.footer-social-media-links {
  display: flex;
  align-items: center;
  font-size: var(--font-sm);
  margin-bottom: 10px;
}
.footer-social-media-links a {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer-copyright{
  font-size: var(--font-sm);
  text-align: center;
  margin-bottom: 30px;
}