header{
  background-color: var(--secondary-color);
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h2{
  font-size: var(--font-md);
  color: var(--background-color);
}
header h3{
  font-size: var(--font-sm);
  color: var(--background-color);
}
.nav-social-media {
  display: flex;
  align-items: center;
}
.nav-social-media a {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}