@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --main-color: #222374;
  --secondary-color: #F03C42;
  --background-color: #FFFFFF;
  --dark-gray: #CCCCCC;
  --darker-color: #000000;
  font-size: 20px;
  --font-sm: 0.7rem;
  --font-md: 0.9rem;
  --font-lg: 1rem;
  --font-xl: 1.6rem;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}